@import './../../../global-styles.scss';
.profile {
    width: 700px;
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

        @include md {
            background-color: $primary-color-light;
            margin: 30px auto;
            padding: 30px;
          //  border: 3px solid $secondary-color; 
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.2);
            border-radius: 8px;
        }


    .profile-photo {
        width: 100%;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile-img {
                height: 180px;
                width: 180px;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
        }
        .profile-img:hover{
            opacity: 0.7;
        }
    }
    .profile-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-info-login{
            margin: 0.2em 0;
            font-size: 2.8em;
            color: $secondary-color;
            font-weight: 400;
            letter-spacing: 1px;
        }
        .profile-info-email {
            margin: 0.2em 0;
            font-size: 1.1em;
            font-weight: 400;
            opacity: 0.5;
        }
    }
    .change-password {
        width: 100%;
        margin-top: 2em;
        padding: 1em 0;
        border-top: 1px solid lighten($text-color, 60%);
        border-bottom: 1px solid lighten($text-color, 60%);
        display: flex;
        justify-content: center;

        .change-password-form {
            width: 90%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .change-password-title {
                color: $text-color;
                font-weight: 400;
            }
            .password-input {
                background-color: $primary-color;
                height: 40px;
                width: 80%;
                font-family: 'Nunito', sans-serif;          
                font-size: 1.2em;
                font-weight: 100;   
                letter-spacing: 1px;      
                color: #333;
                caret-color: $text-color;
                margin: 0.8em 0;
                border: none;
                border-bottom: 1px solid $secondary-color;
                outline: 0;

                @include md {
                    background-color: $primary-color-light;
                    width: 60%;
                }
            }
            .change-password-btn{
                background-color: $secondary-color;
                height: 40px;
                width: 160px;
                margin: 20px 0 4px 0;
                color: #fff;
                font-family: 'Nunito', sans-serif;          
                font-size: 1em;
                font-weight: 400;
                letter-spacing: 1.5px;
                outline: 0;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }
            .change-password-btn:hover {
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);             
            }
            .error-msg {
                color: $error-color;
                font-size: 0.8em;
                letter-spacing: 0.5px;
            }
        }
    }
    .delete-profile {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .delete-profile-btn {
            background-color: #c40b13;
            height: 40px;
            width: 160px;
            margin: 20px;
            font-family: 'Nunito', sans-serif;
            color: #fff;          
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 1.5px;
            outline: 0;
            border: none;
            border-radius: 30px;
            cursor: pointer;
        }
        .delete-profile-btn:hover {
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);             
        }

        .confirm-delete-profile {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                font-size: 1em;
                font-family: 'Nunito', sans-serif;          

            }
            button {
                background-color: #c40b13;
                height: 50px;
                width: 260px;
                margin: 20px;
                color: #fff;
                font-family: 'Nunito', sans-serif;          
                font-size: 1.1em;
                font-weight: 400;
                letter-spacing: 1.5px;
                outline: 0;
                border: none;
                border-radius: 30px;
                cursor: pointer;
            }
            input:hover {
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);             
            }
        }
        
    }
}