@import './../../../global-styles.scss';

.SignIn {
    width: 100%;
    height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $secondary-color;
        font-size: 2.4em;
        font-weight: 400;
        letter-spacing: 1px;
    }
    form {
        height: 500px;
        width: 300px;
        margin-bottom: 3em;
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            font-size: 1.4em;
            font-weight: lighter;
        }
        .InputField {
            height: 50px;
            font-size: 1.2em; 
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #333;
            margin: 0.2em 0 0.6em 0;
            border: none;
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);
            outline: 0;
        }
        .Buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 2em;
            
            input {
                height: 42px;
                width: 110px;
                font-size: 1.2em;
                letter-spacing: 1px;
                outline: 0;
                border: none;
                border-radius: 20px;
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);
                cursor: pointer;
            }
            input:first-child {
                background-color: $secondary-color;
                color: $primary-color;
            }
            input:last-child {
                background-color: #fff;
                color: $text-color;
            }
        }
    }
}