@import './../../../global-styles.scss';

.NavNotLogged, .NavLogged {
    height: calc(100vh - #{$navbar-height});
    width: 100vw;
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    position: fixed;
    top: $navbar-height;
    left: -100vw;
    list-style-type: none;
    z-index: 30;
    transition: left 0.3s;
    transition-timing-function: ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    li {
        margin-bottom: 4em;
    }
    a {
    text-decoration: none;
    color: $text-color;
    font-size: 2em;
    }
    @include md {
        height: 100%;
        width: auto;
        position: static;
        flex-direction: row;
        font-size: 1.3em;

        li {
            margin: 0 2em 0 0;
        }
        a {
            font-size: 1em;
        }
    }

}