@import './../../../global-styles.scss';

.browse-habits {
    width: 100%;
    margin: 2em 0;


    .browse-habits-title {
        font-size: 2em;
        font-weight: 200;
        margin: 0;
        margin-left: 1em;

        @include md {
            font-size: 3em;
            margin-left: 0.4em;
        }
    }
    .browse-habits-navigation {
        width: 100%;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        margin: 2em 0 2em 1em;

        @include md {
            margin-left: 1em;
        }

        .category {
            width: 20%;
            height: 30px;
            font-size: 0.7em;
            margin: 4px 4px;
            color: $text-color;
            font-family: 'Nunito', sans-serif;         
            background-color: $primary-color-light;
            border: 1px solid $secondary-color;
            border-radius: 30px;
            font-weight: 400;
            cursor: pointer;
            outline: 0;

            @include md {
                width: 12%;
                height: 34px;
                margin-left: 0.4em;
                font-size: 1em;
                letter-spacing: 2px;

            }
        }
        .category:hover {
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
        }
        .all {
            border: 2px solid $text-color;
        }
        .none {
            border: 2px solid $none-color;
        }
        .diet {
            border: 2px solid $diet-color;
        }
        .health {
            border: 2px solid $health-color;
        }
        .study {
            border: 2px solid $study-color;
        }
        .work {
            border: 2px solid $work-color;
        }
        .sport {
            border: 2px solid $sport-color;
        }
        .social {
            border: 2px solid $social-color;
        }
        .money {
            border: 2px solid $money-color;
        }
        .family {
            border: 2px solid $family-color;
        }
        .all-chosen {
            background-color: $text-color;
            color: #fff;
        }
        .none-chosen {
            background-color: $none-color;
            color: #fff;
        }
        .health-chosen {
            background-color: $health-color;
            color: #fff;
        }
        .diet-chosen {
            background-color: $diet-color;
            color: #fff;
        }
        .study-chosen {
            background-color: $study-color;
            color: #fff;
        }
        .work-chosen {
            background-color: $work-color;
            color: #fff;
        }
        .sport-chosen {
            background-color: $sport-color;
            color: #fff;
        }
        .social-chosen {
            background-color: $social-color;
            color: #fff;
        }
        .money-chosen {
            background-color: $money-color;
            color: #fff;
        }
        .family-chosen {
            background-color: $family-color;
            color: #fff;
        }
    }
    .habit-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .no-habits {
            margin: 0 auto;
            font-size: 1.6em;
            margin: 3em auto 0 auto;
        }
    }
}