@import './../../../global-styles.scss';

.new-habit {
    height: calc(100vh - #{$navbar-height});
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .new-habit-form {
        height: 100%;
        width: 86%;
        border-radius: 8px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include lg {
            width: 70%;
        }

        .new-habit-title {
            font-size: 1.4em;
            margin: 0;
            font-weight: 300;
            color: $text-color; 
            @include xl {
                font-size: 2em;
            }
        }
        
        .new-habit-title-input {
            background-color: $primary-color;
            height: 30px;
            margin-bottom: 0%;
            padding: 10px;
            border: 2px solid $text-color;
            color: $secondary-color;
            font-family: 'Nunito', sans-serif;          
            font-size: 1.8em;
            font-weight: 300;   
            letter-spacing: 1px;      
            caret-color: $text-color;
            outline: 0;

            @include xl {
                height: 60px;
                font-size: 2.4em;
            }
        }
        .new-habit-title-input::placeholder {
            color: $secondary-color;
            opacity: 1;
          }
        .new-habit-categories-title{
            margin: 0;
            margin-top: 4%;
            font-size: 1em;
            font-weight: 400;
        }
        .new-habit-categories {
            display: flex;
            flex-wrap: wrap;
            .new-habit-category {
                background-color: #fff;
                width: 36px;
                height: 36px;
                margin: 0.6em;
                color: $text-color;
                font-family: 'Nunito', sans-serif;         
                border: 2px solid $secondary-color;
                border-radius: 50%;
                font-weight: 400;
                letter-spacing: 2px;
                cursor: pointer;
                outline: 0; 
                display: flex;
                justify-content: center;
                align-items: center;
                
                @include xl {
                    height: 60px;
                    width: 60px;
                    font-size: 1.2em;
                    margin: 1em;
                }
            }
            
            .new-habit-category:hover {
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
            }
            .none {
                border: 2px solid $none-color;
                color: $none-color;
            }
            .diet {
                border: 2px solid $diet-color;
                color: $diet-color;
            }
            .health {
                border: 2px solid $health-color;
                color: $health-color;
            }
            .study {
                border: 2px solid $study-color;
                color: $study-color;
            }
            .work {
                border: 2px solid $work-color;
                color: $work-color;
            }
            .sport {
                border: 2px solid $sport-color;
                color: $sport-color;
            }
            .social {
                border: 2px solid $social-color;
                color: $social-color;
            }
            .money {
                border: 2px solid $money-color;
                color: $money-color;
            }
            .family {
                border: 2px solid $family-color;
                color: $family-color;
            }
            @mixin style-text-under-category-icon() {
                position: absolute;
                margin-top: 50px;
                color: $text-color;
                font-size: 1em;
                opacity: 0.7;
            }
            @include xl {
               .none::after {
                   content: 'none';
                   @include style-text-under-category-icon();
               } 
               .diet::after {
                   content: 'diet';
                   @include style-text-under-category-icon();
               } 
               .health::after {
                   content: 'health';
                   @include style-text-under-category-icon();
               } 
               .study::after {
                   content: 'study';
                   @include style-text-under-category-icon();
               } 
               .work::after {
                   content: 'work';
                   @include style-text-under-category-icon();
               } 
               .sport::after {
                   content: 'sport';
                   @include style-text-under-category-icon();
               } 
               .social::after {
                   content: 'social';
                   @include style-text-under-category-icon();
               } 
               .money::after {
                   content: 'money';
                   @include style-text-under-category-icon();
               } 
               .family::after {
                   content: 'family';
                   @include style-text-under-category-icon();
               } 
            }
            .none-chosen {
                background-color: $none-color;
                color: #fff;
            }
            .health-chosen {
                background-color: $health-color;
                color: #fff;
            }
            .diet-chosen {
                background-color: $diet-color;
                color: #fff;
            }
            .study-chosen {
                background-color: $study-color;
                color: #fff;
            }
            .work-chosen {
                background-color: $work-color;
                color: #fff;
            }
            .sport-chosen {
                background-color: $sport-color;
                color: #fff;
            }
            .social-chosen {
                background-color: $social-color;
                color: #fff;
            }
            .money-chosen {
                background-color: $money-color;
                color: #fff;
            }
            .family-chosen {
                background-color: $family-color;
                color: #fff;
            }
        }
        .privacy-con {
            margin: 4% 0;
            .privacy-btn {
                height: 36px;
                width: 96px;
                background-color: $primary-color;
                color: lighten($text-color, 30%);
                font-size: 0.9em;
                font-family: 'Nunito', sans-serif;
                letter-spacing: 1px; 
                font-weight: 400;               
                border: none;
                outline: 0;
                cursor: pointer;
            }
            .privacy-btn:first-child {
                border: 2px solid lighten($none-color, 20%);
                border-right: none;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
            .privacy-btn:last-child {
                border: 2px solid lighten($none-color, 20%);
                border-left: none;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }
            .privacy-chosen {
                background-color: lighten($none-color, 20%);
                color: #fff;
            }
        }
        .new-habit-submit-btn {
            align-self: center;
            background-color: $secondary-color;
            height: 56px;
            width: 260px;
            margin: 4% 0;
            color: #fff;
            font-family: 'Nunito', sans-serif;          
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: 2px;
            border: none;
            border-radius: 30px;
            outline: 0;
            cursor: pointer;

            @include lg {
                width: 300px;
                min-height: 60px;
                font-size: 1.7em;
            }
        }
        .new-habit-submit-btn:hover {
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
        }
        .error-msg {
            align-self: center;
            color: $error-color;
            margin-top: 0.4em;
            font-size: 1em;
            letter-spacing: 1px;
        }
    }
}
.new-habit::after{
    content: url(./../../../assets/leaf-bg.png);
    position: absolute;
    bottom: 50px;
    right: -200px;
    overflow: hidden;
    display: none;

    @include lg {
        display: block;
    }
}
.new-habit::before{
    content: url(./../../../assets/leaf-bg.png);
    position: absolute;
    bottom: -220px;
    right: 0;
    transform: rotate(-40deg);
    display: none;

    @include lg {
        display: block;
    }
}