@import './../../../global-styles.scss';

.new-habit {
    min-height: calc(100vh - #{$navbar-height});
    max-width: 100%;
    display: flex;
    justify-content: center;

    .new-habit-form {
        width: 86%;
        border-radius: 8px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        
        .new-habit-title {
            color: $secondary-color;
            margin: 0.4em 0;
            font-size: 2.2em;
            letter-spacing: 1px;
        }
        .new-habit-title-input {
            background-color: $primary-color;
            height: 46px;
            font-family: 'Nunito', sans-serif;          
            font-size: 1.1em;
            font-weight: 100;   
            letter-spacing: 1px;      
            color: #333;
            caret-color: $text-color;
            margin: 1.8em 0;
            border: none;
            border-bottom: 2px solid $secondary-color;
            outline: 0;
        }
        .new-habit-extra-info {
            color: lighten($text-color, 50%);
            font-size: 0.8em;
            font-weight: 300;
            margin: 0 0 1em 1em;
        }

        .new-habit-categories {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1em;

            .new-habit-category {
                width: 90px;
                height: 34px;
                color: $text-color;
                font-family: 'Nunito', sans-serif;         
                margin: 0 1.2em 1em 0;
                background-color: $primary-color;
                border: 2px solid $secondary-color;
                border-radius: 30px;
                font-weight: 400;
                letter-spacing: 2px;
                cursor: pointer;
                outline: 0; 
            }
            
            .new-habit-category:hover {
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
            }
            .none {
                border: 2px solid $none-color;
            }
            .diet {
                border: 2px solid $diet-color;
            }
            .health {
                border: 2px solid $health-color;
            }
            .study {
                border: 2px solid $study-color;
            }
            .work {
                border: 2px solid $work-color;
            }
            .sport {
                border: 2px solid $sport-color;
            }
            .social {
                border: 2px solid $social-color;
            }
            .money {
                border: 2px solid $money-color;
            }
            .family {
                border: 2px solid $family-color;
            }
            .none-chosen {
                background-color: $none-color;
                color: #fff;
            }
            .health-chosen {
                background-color: $health-color;
                color: #fff;
            }
            .diet-chosen {
                background-color: $diet-color;
                color: #fff;
            }
            .study-chosen {
                background-color: $study-color;
                color: #fff;
            }
            .work-chosen {
                background-color: $work-color;
                color: #fff;
            }
            .sport-chosen {
                background-color: $sport-color;
                color: #fff;
            }
            .social-chosen {
                background-color: $social-color;
                color: #fff;
            }
            .money-chosen {
                background-color: $money-color;
                color: #fff;
            }
            .family-chosen {
                background-color: $family-color;
                color: #fff;
            }
        }
        .privacy-con {
            margin-bottom: 1em;
            .privacy-btn {
                height: 26px;
                width: 84px;
                background-color: $primary-color;
                color: lighten($text-color, 30%);
                font-size: 0.9em;
                font-family: 'Nunito', sans-serif;
                letter-spacing: 1px; 
                font-weight: 400;               
                border: none;
                border-radius: 30px;
                outline: 0;
                cursor: pointer;
            }
            .privacy-chosen {
                background-color: #dae1e7;
            }
        }
        .new-habit-submit-btn {
            align-self: center;
            background-color: $secondary-color;
            height: 58px;
            width: 280px;
            margin-top: 1em;
            color: #fff;
            font-family: 'Nunito', sans-serif;          
            font-size: 1.5em;
            font-weight: 700;
            letter-spacing: 2px;
            border: none;
            border-radius: 30px;
            outline: 0;
            cursor: pointer;
        }
        .new-habit-submit-btn:hover {
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
        }
        .error-msg {
            align-self: center;
            color: $error-color;
            margin-top: 0.4em;
            font-size: 1em;
            letter-spacing: 1px;
        }
    }
    @include md {
        justify-content: flex-start;

        .new-habit-form {
            width: 700px;
            margin: 30px auto;
            padding: 0 40px;
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.2);
            border-radius: 8px;

            .new-habit-title {

            }
            .new-habit-title-input {
                height: 60px;
                font-size: 2em;
                letter-spacing: 2px;
                margin: 0.4em 0;
            }

            .new-habit-extra-info {
                font-size: 1em;
                margin-bottom: 1em;
            }
            .new-habit-categories {
                .new-habit-category {
                    height: 34px;
                    width: 120px;
                    font-size: 1em;
                }
            }
            .privacy {
                .privacy-btn {
                    height: 30px;
                    width: 100px;
                    font-size: 1em;
                    font-weight: 500;
                }
                .privacy-chosen {
                    color: $text-color;
                }
            }
        }
    }
}