@import './../../../global-styles.scss';

.LogIn, .SignIn, .ResetPassword, .NewPassword {
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        align-self: flex-start;
        color: $secondary-color;
        margin: 0 0 1em 0;
        font-size: 2em;
        font-weight:  500;
        letter-spacing: 1px;
    }
    form {
        background-color: $primary-color;
        height: auto;
        max-height: 90%;
        max-width: 86%;
        width: 300px;
        z-index: 2;
        display: flex;
        flex-direction: column;

        @include md {
            padding: 30px;
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.2);        
        }
        .InputField {
            background-color: $primary-color;
            height: 40px;
            font-family: 'Nunito', sans-serif;          
            font-size: 1.2em;
            font-weight: 100;   
            letter-spacing: 1px;      
            color: #333;
            caret-color: $text-color;
            margin: 0.8em 0;
            border: none;
            border-bottom: 1px solid $secondary-color;
            outline: 0;
        }
        .InputField::-webkit-input-placeholder {
            opacity: 0.6;
            font-weight: lighter;
        }
        .ErrorMsg {
            color: $error-color;
            font-size: 0.8em;
            letter-spacing: 0.5px;
        }
        .Buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 2em;
            
            input {
                height: 37px;
                width: 96px;
                font-family: 'Nunito', sans-serif;          
                font-size: 1.05em;
                font-weight: 400;
                letter-spacing: 1.5px;
                outline: 0;
                border: none;
                border-radius: 20px;
                cursor: pointer;
            }
            input:hover {
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
            }
            input:first-child {
                background-color: $secondary-color;
                color: $primary-color;
            }
            input:last-child {
                background-color: $primary-color;                
                color: $text-color;
                border: 2px solid $secondary-color;
                opacity: 0.9;
            }
        }
        .ForgotPassword {
            align-self: flex-start;
            color: $text-color;
            font-size: 0.85em;
            text-decoration: none;
            margin-top: 1em;
            opacity: 0.6;
        }
    }
    .LogoBg1, .LogoBg2 {
        display: none;
        opacity: 0.9;

        @include md {
            display: block;
        }
    }
    .LogoBg1 {
        position: absolute;
        bottom: 50px;
        right: -200px;
        
    }
    .LogoBg2 {
        position: absolute;
        bottom: -220px;
        right: 0;
        transform: rotate(-40deg);
    }
}