@import './../../../global-styles.scss';

.Dashboard {
    background-color: $primary-color;
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height});
    margin: 0 auto; 
    overflow-x: hidden;

    @include md {
        width: 80%;
    }
}