@import './../../../global-styles.scss';

.SignIn {
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        align-self: flex-start;
        color: $secondary-color;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 1px;
    }
    form {
        min-height: 500px;
        max-width: 90%;
        width: 300px;
        z-index: 2;
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 1px;
            font-size: 1.1em;
            font-weight: 200;
            opacity: 0.8;
        }
        .InputField {
            height: 44px;
            font-size: 1.2em; 
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #333;
            margin: 0em 0 0.5em 0;
            border: none;
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);
            outline: 0;
        }
        .Error {
            color: $error-color;
            font-size: 0.8em;
        }
        .Buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 2em;
            
            input {
                height: 40px;
                width: 106px;
                font-size: 1.2em;
                letter-spacing: 1px;
                outline: 0;
                border: none;
                border-radius: 20px;
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);
                cursor: pointer;
            }
            input:first-child {
                background-color: $secondary-color;
                color: $primary-color;
            }
            input:last-child {
                background-color: #fff;
                color: $text-color;
                opacity: 0.9;
            }
        }
        .LoggedMsg {
            display: flex;
            justify-content: center;
        
            h1 {
                font-size: 1.2em;
                font-weight: 400;
                margin-top: 8em;
            }
        }
    }
        .LogoBg1, .LogoBg2 {
            display: none;
            z-index: 1;
            opacity: 0.9;
    
            @include lg {
                display: block;
            }
        }
        .LogoBg1 {
            position: absolute;
            bottom: 50px;
            right: -200px;
            
        }
        .LogoBg2 {
            position: absolute;
            bottom: -220px;
            right: 0;
            transform: rotate(-40deg);
        }
}

