@import './../../../global-styles.scss';

.habit-page {
    width: 100%;
    color: $text-color;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .habit-page-header-con {
        width: 100%;
        height: auto;
        color: $text-color;
        display: flex;
        justify-content: center;

        .habit-page-info-con {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include lg {
                flex-direction: row;
                justify-content: space-evenly;
                width: 80%;
            }

            .habit-page-text-con {
                padding: 20px;

                @include lg {
                    width: 80%;
                }
                h1 {
                    overflow-wrap: break-word;
                    margin-bottom: 0;
                    font-size: 3em;
                    @include lg {
                        font-size: 4em;
                    }
                }
            }
            .habit-page-header-btn-con {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    letter-spacing: 4px;
                }
                .leave-habit-btn {
                    background-color: #ff6138;
                }
            }
        }
        .habit-page-header-btn {
            background-color: $secondary-color;
            height: 100px;
            width: 100px;
            font-size: 1.3em;
            letter-spacing: 1px;
        }
        .habit-page-info-blocks {
            display: flex;
            flex-wrap: wrap;

            .habit-page-info-block {
                width: auto;
                height: 30px;
                background-color: #f1eb9a;
                padding: 4px 10px;
                margin: 10px;
                border-radius: 4px;
                color: $text-color;
                font-weight: 600;

                i {
                    color: lighten($text-color, 20%);
                }
            }
        }
    }

    .habit-page-main {
        width: 100%;
        height: auto;
        @include md {
            width: 80%;
        }
        @include lg {
            width: 70%;
        }

        .habit-page-navigation {
            width: 100%;
            height: auto;
            margin: 1em 0;
        }
    }
    .habit-page-dashboard {
        width: 900px;
        max-width: 100%;
        margin-top: 3em;
    }
}
